@page "/booking/{id:guid}/participants"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IBookingQueries BookingQueries
@inject ICustomerQueries CustomerQueries
@inject IAddParticipantHandler AddHandler
@inject IRemoveParticipantHandler RemoveHandler

<PageTitle>Tilføj / Fjern deltager</PageTitle>

<ErrorComponent ErrorMessage="@_error" />
@if (BookingDTO != null &&
BookingDTO.ParticipantLimit > BookingDTO.Participants.Count)
{
    <SearchComponent Element="telefon nr." SearchCallback="@Search" />
    <br />

    @if (CustomerDTO != null)
    {
        <section>
            <article class="grid-container-1-item">
                <p>@CustomerDTO.FirstName @CustomerDTO.LastName</p>
                <button type="button" class="btn btn-primary" @onclick="@Add">Tilføj</button>
            </article>

        
        </section>
    }
}


<br />

@if (_model != null && AllCustomers != null)
{
    <section>
        <BookingFormParticipantListComponent Model="_model" AllCustomers="AllCustomers" RemoveCallback="@Remove"></BookingFormParticipantListComponent>
    </section>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    private string? _error;
    private BookingInputModel? _model = new();
    private BookingDTO? BookingDTO = null;
    private IReadOnlyList<CustomerDTO>? AllCustomers = null;
    private CustomerDTO? CustomerDTO = null;

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            if (_model != null)
            {
                AllCustomers = await CustomerQueries.GetAllAsync();

                BookingDTO ??= await BookingQueries.GetByIdAsync(Id);

                if (BookingDTO != null)
                {
                    _model.Id = BookingDTO.BookingId;
                    _model.Status = BookingDTO.Status;
                    _model.Participants = BookingDTO.Participants.ToList();
                    _model.DiscountTypeUsed = BookingDTO.DiscountTypeUsed;
                    _model.Start = BookingDTO.From;
                    _model.End = BookingDTO.To;
                    _model.TreatmentId = BookingDTO.TreatmentId;
                    _model.ClinicId = BookingDTO.ClinicId;
                    _model.Price = BookingDTO.Price;
                    _model.ParticipantLimit = BookingDTO.ParticipantLimit;
                }
            }


        }
        catch (Exception ex)
        {

            _error = ex.Message;
        }
    }

    private async Task Search(string phoneNumber)
    {
        CustomerDTO ??= await CustomerQueries.GetByPhoneNumberAsync(phoneNumber);
    }

    private async Task Add()
    {
        var command = new AddParticipantCommand(BookingDTO!.BookingId, CustomerDTO!.Id);

        await AddHandler.Handle(command);
    }

    private async Task Remove(Guid id)
    {
        var command = new RemoveParticipantCommand(BookingDTO!.BookingId, id);

        await RemoveHandler.Handle(command);
    }
}
